.card{
    background: #f4f4f4;
    .card__text{
        font-size: 20px;
        font-family: "Oxygen";
        color: #2E2E2E;
        text-align: center;
        padding-top: 60px;
    }
    .card__hr{
        width: 188px;
        margin: 16px auto;

    }
    .card__wrapper{
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        .card__kub1{
            border-radius: 3px;
            height: 300px;
            background: url("../../images/IMAGE\ \(8\).svg") no-repeat center/cover;
            padding: 20px;
            .card__head{
                font-size: 27px;
                font-family: "Lora";
                color: white;
                font-weight: 300;
                margin-top: 140px;
            }
            .card__body{
                font-size: 14px;
                font-family: "Oxygen";
                color: white;
                opacity: 70%;
                margin: 10px 0;
            }
            .card__flex{
                height: 35px;
                display: flex;
                align-items: center;
                .card__gap{
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    flex: 1;
                    .card__name{
                        font-size: 14px;
                        font-family: "Oxygen";
                        color: white;
                        opacity: 70%;
                    }
                }
                .card__date{
                    font-size: 14px;
                        font-family: "Oxygen";
                        color: white;
                        opacity: 70%;
                }
            }
        }
        .card__kub2{
            height: 300px;
            background: url("../../images/IMAGE\ \(7\).svg") no-repeat center/cover;
            padding: 20px;
            border-radius: 3px;
            .card__head{
                font-size: 27px;
                font-family: "Lora";
                color: white;
                font-weight: 300;
                margin-top: 140px;
            }
            .card__body{
                font-size: 14px;
                font-family: "Oxygen";
                color: white;
                opacity: 70%;
                margin: 10px 0;
            }
            .card__flex{
                height: 35px;
                display: flex;
                align-items: center;
                .card__gap{
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    flex: 1;
                    .card__name{
                        font-size: 14px;
                        font-family: "Oxygen";
                        color: white;
                        opacity: 70%;
                    }
                }
                .card__date{
                    font-size: 14px;
                        font-family: "Oxygen";
                        color: white;
                        opacity: 70%;
                }
            }
        }
    }
}

@media (max-width:650px) {
    .card{
        .card__wrapper{
            grid-template-columns: 1fr;
            .card__flex{
                .card__date{
                    display: none;
                }
            }
        }
    }
}
@media (max-width:540px) {
    .card{
        .card__wrapper{
            .card__kub1, .card__kub2{
                .card__head{
                    font-size: 18px;
                    margin-top: 180px;
                }
                .card__body{
                    display: none;
                }
            }
        }
    }
}